# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = huzichun
#	email = huzichun@huzichundeMacBook-Pro.local
[user]
	name = huzichun
	email = huzichunjohn@126.com
